@tailwind base;
@tailwind components;
@tailwind utilities;

.cropper-circle-container .cropper-view-box,
.cropper-circle-container .cropper-face {
  border-radius: 50%;
}

.cropper-circle-container .cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.cropper-circle-container .cropper-face {
  background: none;
}

/* Hide the spin buttons in WebKit browsers */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hide spin buttons in Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }